VITE_OPERATION_REMOTE_URL=http://localhost:4174/remoteEntry.js
VITE_COMMERCIAL_REMOTE_URL=http://localhost:4175/remoteEntry.js
VITE_MANAGEMENT_REMOTE_URL=http://localhost:4176/remoteEntry.js
VITE_LABEL_PRINT_MODE=auto
VITE_ZEBRA_BROWSER_PRINT_SCRIPT=/vendor/BrowserPrint.min.js
VITE_ZEBRA_DPI=203
